# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", 
                                left_on = "school", right_on = "name")
# Rename columns names 
school_data_complete.rename(columns={"name_x":"StudentName","name_y":"SchoolName"}, inplace=True)

school_student_data = school_data_complete
#School_student_data

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
#Calculate the total number of schools from the merged dataframe
Total_Schools_M = school_student_data["SchoolName"].nunique()
#print(f'The total number of schools is: {Total_Schools_M}')

#Listing all the distinct schools from the merged dataframe
Total_Schools_M = school_student_data["SchoolName"].nunique()
#print(f'The total number of schools is: {Total_Schools_M}')

#Calculate the total number of students from the merged dataframe
Total_Students_S = school_student_data["StudentName"].count()
#print(f'The total number of students is: {Total_Students_S}')

#Calculate the total budget
Total_Budget = school_data["budget"].sum()
#print(f'The total budget of the all the schools is: {Total_Budget}')

#Calculate the average math score 
Avg_Math_Score = student_data["math_score"].mean()
#print(f'The average maths score of all the students is: {Avg_Math_Score}')

#Calculate the average reading score
Avg_Reading_Score = student_data["reading_score"].mean()
#print(f'The average reading score of all the students is: {Avg_Reading_Score}')

#Calculate the overall passing rate (overall average score), 
#i.e. (avg. math score + avg. reading score)/2
Overall_Passing_Score = (Avg_Math_Score + Avg_Reading_Score) / 2
#print(f'The overall passing score of all the students is: {Overall_Passing_Score}')

#Calculate the percentage of students with a passing math score (70 or greater)
Students_MathScore_GTEQ70 = student_data["math_score"][student_data["math_score"] >= 70].count()
Percent_StMaSc_GTEQ70 = '{:.2f}%'.format(Students_MathScore_GTEQ70/Total_Students_S * 100)
#print(f'The percentage of students with a passing math score (70 or greater): {Percent_StMaSc_GTEQ70}')

#Calculate the percentage of students with a passing reading score (70 or greater)
Students_ReadScore_GTEQ70 = student_data["reading_score"][student_data["reading_score"] >= 70].count()
Percent_StReSc_GTEQ70 = '{:.2f}%'.format(Students_ReadScore_GTEQ70/Total_Students_S * 100)
#print(f'The percentage of students with a passing reading score (70 or greater): {Percent_StReSc_GTEQ70}')

#Create a dataframe to hold the above results
District_Summary = pd.DataFrame({"Total Schools" : [Total_Schools_M],
                                 "Total Students" : [Total_Students_S],
                                 "Total Budget" : [Total_Budget],
                                 "Average Math Score" : [Avg_Math_Score],
                                 "Average Reading Score" : [Avg_Reading_Score],
                                 "% Passing Math (70 or greater)" : [Percent_StMaSc_GTEQ70],
                                 "% Passing Reading (70 or greater)" : [Percent_StReSc_GTEQ70],
                                 "Overall passing rate of all the students" : [Overall_Passing_Score]
                                })
#Optional: give the displayed data cleaner formatting
District_Summary = District_Summary[["Total Schools","Total Students","Total Budget",
                                    "Average Math Score","Average Reading Score",
                                    "% Passing Math (70 or greater)","% Passing Reading (70 or greater)",
                                    "Overall passing rate of all the students"]]
District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math (70 or greater),% Passing Reading (70 or greater),Overall passing rate of all the students
0,15,39170,24649428,78.985371,81.87784,74.98%,85.81%,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [5]:
#School Name
School_Name = school_student_data["SchoolName"].unique().tolist()
#print(School_Name)
#School Type
#School_Type = school_student_data["type"].unique().tolist()
School_Type = school_data["type"].tolist()
#print(School_Type)
#Total Students
School_Size = school_data["size"]

#Total School Budget
School_Budget = school_data["budget"]

#Per Student Budget
Per_Stu_Budget = school_data["budget"]/school_data["size"]
#print(Per_Stu_Budget)
#Average Math Score
Avg_math_score = round(school_student_data.groupby(["SchoolName"])["math_score"].mean(),2).tolist()
#print(Avg_math_score)
#Average Reading Score
Avg_read_score = round(school_student_data.groupby(["SchoolName"])["reading_score"].mean(),2).tolist()
#print(Avg_read_score)

#Total students per school 
Total_Stu_Per_School = school_student_data.groupby(["SchoolName"])["Student ID"].count()

Math_score = school_student_data[school_student_data["math_score"] >= 70]

Reading_score = school_student_data[school_student_data["reading_score"] >= 70]

#Total students per school or grouped by school who passed with score >= 70
School_Math_Pass = Math_score.groupby(["SchoolName"])["Student ID"].count()
School_Read_Pass = Reading_score.groupby(["SchoolName"])["Student ID"].count()

#% Passing Math
Per_Pass_Math = (School_Math_Pass/Total_Stu_Per_School*100)
Fomatted_Per_Pass_Math = Per_Pass_Math.map('{:.2f}%'.format).tolist()

#% Passing Reading
Per_Pass_Reading = (School_Read_Pass/Total_Stu_Per_School*100)
Formatted_Per_Pass_Reading = Per_Pass_Reading.map('{:.2f}%'.format).tolist()

#Overall Passing Rate (Average of the above two)
Overall_Per_Rate = (Per_Pass_Math+Per_Pass_Reading)/2
Formatted_Overall_Per_Rate = Overall_Per_Rate.map('{:.2f}%'.format).tolist()

School_Summary = pd.DataFrame({"School Name" : School_Name,
                               "School Type" : School_Type,
                                "Total Students" : School_Size,
                                "Total School Budget" : School_Budget,
                                "Per Student Budget" : Per_Stu_Budget,
                                "Average Math Score" : Avg_math_score,
                                "Average Read Score" : Avg_read_score,
                                 "% Passing Math" : Fomatted_Per_Pass_Math,
                                 "% Passing Reading" : Formatted_Per_Pass_Reading,
                                 "Overall Passing Rate" : Formatted_Overall_Per_Rate      
                                })

#Optional: give the displayed data cleaner formatting
School_Summary = School_Summary[["School Name","School Type","Total Students","Total School Budget",
                                "Per Student Budget","Average Math Score","Average Read Score",
                                "% Passing Math","% Passing Reading","Overall Passing Rate"  ]]
School_Summary.set_index("School Name")

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [10]:
School_Summary.sort_values(by="Overall Passing Rate",ascending=False).head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Read Score,% Passing Math,% Passing Reading,Overall Passing Rate
1,Figueroa High School,District,2949,1884411,639.0,83.06,83.98,94.13%,97.04%,95.59%
12,Johnson High School,District,4761,3094650,650.0,83.42,83.85,93.27%,97.31%,95.29%
4,Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39%,97.14%,95.27%
9,Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59%,95.95%,95.27%
13,Ford High School,District,2739,1763916,644.0,83.27,83.99,93.87%,96.54%,95.20%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [11]:
School_Summary.sort_values(by="Overall Passing Rate",ascending=False).tail(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Read Score,% Passing Math,% Passing Reading,Overall Passing Rate
3,Hernandez High School,District,4635,3022020,652.0,77.10,80.75,68.31%,79.30%,73.80%
8,Holden High School,Charter,427,248087,581.0,77.07,80.97,66.06%,81.22%,73.64%
7,Bailey High School,District,4976,3124928,628.0,76.63,81.18,65.68%,81.32%,73.50%
2,Shelton High School,Charter,1761,1056600,600.0,76.71,81.16,65.99%,80.74%,73.36%
10,Wright High School,Charter,1800,1049400,583.0,76.84,80.74,66.37%,80.22%,73.29%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [12]:
Math_score_bygrade_s = school_student_data.groupby(["SchoolName","grade"])["math_score"].mean()
Math_score_bygrade_df = pd.DataFrame(Math_score_bygrade_s).reset_index()
Math_score_bygrade = Math_score_bygrade_df.pivot_table(values="math_score",index="SchoolName",columns="grade")
Math_score_bygrade.reset_index(drop=False,inplace=True)
Math_score_bygrade = pd.DataFrame({"SchoolName":Math_score_bygrade["SchoolName"],
                      "9th":Math_score_bygrade["9th"],
                     "10th":Math_score_bygrade["10th"],
                     "11th":Math_score_bygrade["11th"],
                     "12th":Math_score_bygrade["12th"]})
Math_score_bygrade.set_index(["SchoolName"],inplace=True)
Math_score_bygrade = Math_score_bygrade[["9th","10th","11th","12th"]]
del Math_score_bygrade.index.name
Math_score_bygrade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [13]:
#Reading_score_bygrade
Reading_score_bygrade_s = school_student_data.groupby(["SchoolName","grade"])["reading_score"].mean()
Reading_score_bygrade_df = pd.DataFrame(Reading_score_bygrade_s).reset_index()
Reading_score_bygrade = Reading_score_bygrade_df.pivot_table(values="reading_score",index="SchoolName",columns="grade")
Reading_score_bygrade.reset_index(drop=False,inplace=True)
Reading_score_bygrade = pd.DataFrame({"SchoolName":Reading_score_bygrade["SchoolName"],
                      "9th":Reading_score_bygrade["9th"],
                     "10th":Reading_score_bygrade["10th"],
                     "11th":Reading_score_bygrade["11th"],
                     "12th":Reading_score_bygrade["12th"]})
Reading_score_bygrade.set_index(["SchoolName"],inplace=True)
Reading_score_bygrade = Reading_score_bygrade[["9th","10th","11th","12th"]]
del Reading_score_bygrade.index.name
Reading_score_bygrade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [14]:
# Sample bins
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

#Create a new dataframe with per student budget by appending the existing school data with the same field
# and merging the same with the student data

school_data["Per Student Budget"] = Per_Stu_Budget
school_student_data_bin = pd.merge(student_data, school_data, how="left", left_on = "school", 
                                   right_on = "name")
school_student_data_bin.rename(columns={"name_x":"Student_Name", "name_y":"School_Name"},inplace=True)
school_student_data_bin["SchoolSpendingRange"] = pd.cut(school_student_data_bin["Per Student Budget"], spending_bins, labels=group_names)

#Average Math Score
Avg_math_score_bybin = school_student_data_bin.groupby(["SchoolSpendingRange"])["math_score"].mean().tolist()

#Average Reading Score
Avg_reading_score_bybin = school_student_data_bin.groupby(["SchoolSpendingRange"])["reading_score"].mean().tolist()

#% Passing Math
Math_scoring_GTEQ70 = school_student_data_bin[school_student_data_bin["math_score"] >= 70]
Math_scoring_GTEQ70_bybin = Math_scoring_GTEQ70.groupby(["SchoolSpendingRange"])["Student ID"].count()

Total_students_bybin = school_student_data_bin.groupby(["SchoolSpendingRange"])["Student ID"].count()

Percent_Pass_Math_bybin = ((Math_scoring_GTEQ70_bybin/Total_students_bybin)*100)
Formatted_Percent_Pass_Math_bybin = Percent_Pass_Math_bybin.map('{:.2f}%'.format).tolist()

#% Passing Read
# (Students scoring >= 70 in a bin / Total students that particular bin) * 100
Read_scoring_GTEQ70 = school_student_data_bin[school_student_data_bin["reading_score"] >= 70]
Read_scoring_GTEQ70_bybin = Read_scoring_GTEQ70.groupby(["SchoolSpendingRange"])["Student ID"].count()

Total_students_bybin = school_student_data_bin.groupby(["SchoolSpendingRange"])["Student ID"].count()

Percent_Pass_Read_bybin = ((Read_scoring_GTEQ70_bybin/Total_students_bybin)*100)
Formatted_Percent_Pass_Read_bybin = Percent_Pass_Read_bybin.map('{:.2f}%'.format).tolist()

#Overall Passing Rate
Overall_Pass_Rate_bybin = (Percent_Pass_Math_bybin + Percent_Pass_Read_bybin)/2

Formatted_Overall_Pass_Rate_bybin = Overall_Pass_Rate_bybin.map('{:.2f}%'.format).tolist()

Scores_by_school_spending = pd.DataFrame({"Spending Ranges (Per Student)":group_names,
                                          "Average Math Score":Avg_math_score_bybin,
                                          "Average Reading Score":Avg_reading_score_bybin,
                                          "% Passing Math":Formatted_Percent_Pass_Math_bybin,
                                          "% Passing Reading": Formatted_Percent_Pass_Read_bybin,
                                          "% Overall Passing Rate": Formatted_Overall_Pass_Rate_bybin
                                         })
Scores_by_school_spending = Scores_by_school_spending[["Spending Ranges (Per Student)",
                                                      "Average Math Score","Average Reading Score",
                                                      "% Passing Math","% Passing Reading",
                                                      "% Overall Passing Rate"]]
Scores_by_school_spending.set_index("Spending Ranges (Per Student)")

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.363065,83.964039,93.70%,96.69%,95.19%
$585-615,83.529196,83.838414,94.12%,95.89%,95.01%
$615-645,78.061635,81.434088,71.40%,83.61%,77.51%
$645-675,77.049297,81.005604,66.23%,81.11%,73.67%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [16]:
# Sample bins
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_student_data_bysize = school_student_data
school_student_data_bysize["size_bins"] = pd.cut(school_student_data["size"], size_bins, labels=group_names)

#Average Math Score
Avg_math_score_bysize = school_student_data_bysize.groupby(["size_bins"])["math_score"].mean().tolist()

#Average Reading Score
Avg_reading_score_bysize = school_student_data_bysize.groupby(["size_bins"])["reading_score"].mean().tolist()

Total_students_bysize = school_student_data_bysize.groupby(["size_bins"])["Student ID"].count()

#% Passing Math
Math_scoring_GTEQ70 = school_student_data_bysize[school_student_data_bysize["math_score"] >= 70]
Math_scoring_GTEQ70_bysize = Math_scoring_GTEQ70.groupby(["size_bins"])["Student ID"].count()

Percent_Pass_Math_bysize = ((Math_scoring_GTEQ70_bysize/Total_students_bysize)*100)
Formatted_Percent_Pass_Math_bysize = Percent_Pass_Math_bysize.map('{:.2f}%'.format).tolist()

Formatted_Percent_Pass_Math_bysize

#% Passing Read
# (Students scoring >= 70 in a bin / Total students that particular bin) * 100
Read_scoring_GTEQ70 = school_student_data_bysize[school_student_data_bysize["reading_score"] >= 70]
Read_scoring_GTEQ70_bysize = Read_scoring_GTEQ70.groupby(["size_bins"])["Student ID"].count()

Percent_Pass_Read_bysize = ((Read_scoring_GTEQ70_bysize/Total_students_bysize)*100)
Formatted_Percent_Pass_Read_bysize = Percent_Pass_Read_bysize.map('{:.2f}%'.format).tolist()

Formatted_Percent_Pass_Read_bysize

#Overall Passing Rate
Overall_Pass_Rate_bysize = (Percent_Pass_Math_bysize + Percent_Pass_Read_bysize)/2

Formatted_Overall_Pass_Rate_bysize = Overall_Pass_Rate_bysize.map('{:.2f}%'.format).tolist()
Formatted_Overall_Pass_Rate_bysize

Scores_by_school_bysize = pd.DataFrame({"School Size":group_names,
                                          "Average Math Score":Avg_math_score_bysize,
                                          "Average Reading Score":Avg_reading_score_bysize,
                                          "% Passing Math":Formatted_Percent_Pass_Math_bysize,
                                          "% Passing Reading": Formatted_Percent_Pass_Read_bysize,
                                          "% Overall Passing Rate": Formatted_Overall_Pass_Rate_bysize
                                         })
Scores_by_school_bysize = Scores_by_school_bysize[["School Size","Average Math Score","Average Reading Score",
                                              "% Passing Math","% Passing Reading","% Overall Passing Rate"]]
Scores_by_school_bysize.set_index("School Size",inplace=True)
Scores_by_school_bysize

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.828654,83.974082,93.95%,96.04%,95.00%
Medium (1000-2000),83.372682,83.867989,93.62%,96.77%,95.19%
Large (2000-5000),77.477597,81.198674,68.65%,82.13%,75.39%

## Scores by School Type

* Perform the same operations as above, based on school type.

In [18]:
School_type = school_student_data["type"].unique()
print(School_type)

#Average Math Score
Avg_math_score_bytype = school_student_data.groupby(["type"])["math_score"].mean().tolist()

#Average Reading Score
Avg_reading_score_bytype = school_student_data.groupby(["type"])["reading_score"].mean().tolist()

#Total number of students in each school type
Total_stu_bytype = school_student_data.groupby(["type"])["Student ID"].count()

#Total students scoring equal to or greater than 70 in math
Math_scoring_GTEQ70 = school_student_data[school_student_data["math_score"] >= 70]

#Number of students in each school type scoring more than 70 in math
Math_scoring_GTEQ70_bytype = Math_scoring_GTEQ70.groupby(["type"])["Student ID"].count()

#% Passing Math
Percent_pass_math_bytype = Math_scoring_GTEQ70_bytype/Total_stu_bytype * 100


#Total students scoring equal to or greater than 70 in reading
Reading_scoring_GTEQ70 = school_student_data[school_student_data["reading_score"] >= 70]

#Number of students in each school type scoring more than 70 in reading
Reading_scoring_GTEQ70_bytype = Reading_scoring_GTEQ70.groupby(["type"])["Student ID"].count()

#% Passing Reading
Percent_pass_reading_bytype = Reading_scoring_GTEQ70_bytype/Total_stu_bytype * 100

#% Overall Passing Rate
Percent_overall_pass_by_type = (Percent_pass_math_bytype + Percent_pass_reading_bytype) / 2


Scores_by_school_type = pd.DataFrame({"School Type":School_type,
                                          "Average Math Score":Avg_math_score_bytype,
                                          "Average Reading Score":Avg_reading_score_bytype,
                                          "% Passing Math":Percent_pass_math_bytype.map('{:.2f}%'.format).tolist(),
                                          "% Passing Reading":Percent_pass_reading_bytype.map('{:.2f}%'.format).tolist(),
                                          "% Overall Passing Rate":Percent_overall_pass_by_type.map('{:.2f}%'.format).tolist()
                                     })     
Scores_by_school_type = Scores_by_school_type[["School Type","Average Math Score","Average Reading Score",
                                               "% Passing Math","% Passing Reading","% Overall Passing Rate"]]
Scores_by_school_type.set_index("School Type")

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
District,83.406183,83.902821,93.70%,96.65%,95.17%
Charter,76.987026,80.962485,66.52%,80.91%,73.71%